<!-- Orders section -->

<section class="pt-0">
    <div class="container">
        <div class="row">

            <!-- Menu sidebar -->

            <div class="col-lg-3">

                <div class="br-sm pr-lg-4 mt-xl-n6">
                
                    <!-- Profile menu header -->
                
                    <div class="py-3 py-lg-4">
                        <div class="row align-items-center justify-content-center no-gutters text-lg-center">
                            <div class="col-9 col-lg-12">
                                <div class="d-flex flex-lg-column align-items-center">
                                    <div class="pr-3 pr-lg-0">
                                        <img src="assets/images/demo/user-5.jpg" alt="" class="rounded-circle mb-lg-2 img-fluid" style="width: 50px;">
                                    </div>
                                    <div>
                                        <div ng-show="user.firstName != null && user.lastName!= null" class="h5 m-0">{{user.firstName + " " + user.lastName}}</div>
                                        <div class="text-muted">{{user.username}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 d-lg-none text-right">
                                <button class="btn btn-icon btn-primary btn-sm toggle-show" data-show="open-profile-sidebar">
                                    <i class="icon icon-text-align-center"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                    <!-- Profile sidebar -->

                    <div class="sidebar sidebar-mobile" id="open-profile-sidebar">
                        <div class="sidebar-content">

                            <div class="sidebar-header clearfix d-lg-none">
                                <button type="button" class="close toggle-show p-3" data-show="open-profile-sidebar" aria-label="Close">
                                    <i class="icon icon-cross font-size-lg"></i>
                                </button>
                            </div>

                            <!-- Profile account links -->

                            <div class="mb-4 px-4 p-lg-0">
                                <ul class="list-group list-group-clean">

                                    <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                                        <label class="pre-label">Account</label>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="#!/profile">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span><i class="icon icon-user mr-2"></i>
                                                    <span>Profile account</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                            </div>

                            <!-- Profile dashboard links -->

                            <div class="mb-4 px-4 p-lg-0">
                                <ul class="list-group list-group-clean">

                                    <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                                        <label class="pre-label">Dashboard</label>
                                    </li>

                                    <li class="list-group-item active">
                                        <a href="#!/orders">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span><i class="icon icon-cart mr-2"></i>
                                                    <span>Orders</span>
                                                </span>
                                                <span class="badge  badge-pill">{{orders.length}}</span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            <!-- Profile reset -->

                            <div class="mb-4 px-4 p-lg-0">
                                <ul class="list-group list-group-clean">

                                    <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                                        <label class="pre-label">Access</label>
                                    </li>

                                    <li class="list-group-item ">
                                        <a href="#!/reset-password">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span><i class="icon icon-lock mr-2"></i>
                                                    <span>Reset password</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a ng-click="tryToLogout()" href="#/login">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span><i class="icon icon-enter-down mr-2"></i>
                                                    <span>Sign out</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Orders content -->

            <div class="col-lg-9 pt-lg-4">

                <h2 class="pre-label font-size-base">List of your orders</h2>

                <div ng-if="orders.length == 0" class="alert alert-warning shadow-sm rounded mb-4 p-3 p-lg-4 mb-1 p-md-5">
                    <h2 class="h6">Orders info</h2>
                    <p>
                        Your orders is empty right now.
                    </p>
                </div>

                <div ng-if="orders.length > 0" class="mb-3 mb-lg-5">
                    <div class="accordion br-sm" id="accordionOrdersExample">
                
                        <div ng-repeat="order in orders" class="card card-fill mb-3 shadow-sm rounded">
                            <div class="card-header bg-white py-4 p-2 p-md-4 pointer" id="{{order.id}}" role="button" data-toggle="collapse" data-target="#collapseOne{{order.id}}" aria-expanded="true" aria-controls="collapseOne{{order.id}}">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <i class="icon icon-tag mr-3"></i>
                                        <span>{{order.id}}</span>
                                    </div>
                                    <div class="col-6 col-xl-3">
                                        <i class="icon icon-clock mr-3"></i>
                                        <span>{{order.transactionTime}}</span>
                                    </div>
                                    <div class="col-6 col-xl-3 text-right">
                                        <span>${{order.price}}</span>
                                    </div>
                                    <div class="col-xl-2 text-center pt-3 pt-xl-0">
                                        <small class="p-1 bg-light-primary rounded-sm text-white btn-block text-uppercase">
                                            pending
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne{{order.id}}" class="collapse pt-0" aria-labelledby="{{order.id}}" data-parent="#accordionOrdersExample">
                                <hr class="m-0">
                                <div class="card-body bg-white">
                
                                    <div ng-repeat="orderItem in order.items" class="mb-3 mb-lg-4 bg-light shadow-sm px-4 py-3">
                                        <div class="row align-items-center no-gutters p-md-2">
                                            <div class="col-lg-2">
                                                <img src="{{orderItem.product.image}}" class="img-fluid br-sm shadow-sm" alt="Image title">
                                            </div>
                                            <div class="col-lg-5 pl-lg-3 py-2 py-lg-0">
                                                <div><strong>{{orderItem.product.title}}</strong></div>
                                                <small class="text-muted">{{orderItem.product.categoryTitle}}</small>
                                            </div>
                                            <div class="col-6 col-lg-2">
                                                <div><small class="pre-label">Qty</small></div>
                                                <span>{{orderItem.quantity}}</span>
                                            </div>
                                            <div class="col-6 col-lg-3 text-right">
                                                <div><small class="pre-label">Total</small></div>
                                                <span>${{orderItem.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>