<!-- Home section -->
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 pr-lg-5">
                <div class="rellax rellax-move" data-rellax-speed="0.4">
                    <div class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h2 class="display-4"><b>Home page</b> in developing</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="rellax rellax-move" data-rellax-speed="-0.3">
                    <div class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="pt-5 pt-lg-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>