<p></p>
<h4>Корзина</h4>
<table class="table" ng-if="cartDto.items.length > 0">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="oi in cartDto.items">
        <td>{{oi.productTitle}}</td>
        <td>
            {{oi.quantity}}
            <button class="btn btn-primary" ng-click="addToCart(oi.productId)">+</button>
        </td>
        <td>{{oi.pricePerProduct + ' x ' + oi.quantity + ' = ' + oi.price}}</td>
    </tr>
    <tr style="font-weight: bold">
        <td>Итого</td>
        <td></td>
        <td>{{cartDto.sum + ' руб.'}}</td>
    </tr>
    </tbody>
</table>
<span ng-if="cartDto.items.length == 0">Ваша корзина пуста</span>
<button ng-click="clearCart()" class="btn btn-primary" ng-if="cartDto.items.length > 0">Очистить корзину</button>

<div ng-show="isUserLoggedIn()">
    <p></p>
    <h4>Оформление заказа</h4>
    <button ng-click="createOrder()" class="btn btn-primary" ng-show="cartDto.items.length > 0">Оформить заказ</button>
</div>